{% extends 'layout.html.twig' %}

{% block title %}AG || Home{% endblock %}

{% block content %}
    <header class="container">
        <h1>Bem Vindo Usuário!</h1>
    </header>
{% endblock %}

{% block classhome %}{% endblock %}
{% block classprodutos %}{% endblock %}