{% extends 'layout.html.twig' %}

{% block title %}AG || Página Não Encontrada {% endblock %}

{% block content %}
    <section class="404 container">
        <h1>ACESSO RESTRITO</h1>
        <h3>VOCÊ NÃO POSSUÍ PRIVILÉGIOS PARA ACESSAR ESTÁ PÁGINA!</h3>
        <img src="/assets/img/access-denied.jpg">
    </section>
{% endblock %}

{% block classhome %}{% endblock %}
{% block classprodutos %}{% endblock %}