{% extends 'layout.html.twig' %}

{% block title %}AG || Home{% endblock %}

{% block content %}
    <header class="container">
        {#<h1>Bem vindo ao nosso sistema{% if username != null %}{{ username }}{% endif %}!</h1>#}
        <h1>Bem vindo ao nosso sistema!</h1>
    </header>
{% endblock %}

{% block classhome %}active{% endblock %}
{% block classprodutos %}{% endblock %}