{% extends 'layout.html.twig' %}

{% block title %}AG || Editar Categoria {% endblock %}

{% block content %}
    <header class="container">
        <h1>Editar Categoria</h1>
    </header>

    <section class="container">
        <form class="form-horizontal" method="post"
              action="{{ path('categoria-atualizar', {'id': categoria.id}) }}">
            <input type="hidden" id="id" name="id" value="{{ categoria.id }}">
            <div class="form-group">
                <label for="nome" class="col-sm-2 control-label">Nome</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nome" name="nome" required value="{{  categoria.nome }}">
                    {% if errors.nome != null %}
                        <span class="alert-danger col-md-12">{{ errors.nome }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </form>
    </section>
{% endblock %}

{% block form %}

{% endblock %}

{% block classhome %}{% endblock %}
{% block classprodutos %}{% endblock %}
{% block classcategorias %}active{% endblock %}
{% block classtags %}{% endblock %}